.bodyContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  width: 70%;
  min-width: 300px;
}

.listWrapper {
  height: calc(100vh - 442px);
  overflow: auto;
  padding-bottom: 12px;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.amount {
  font-weight: 700;
  font-size: larger;
  text-transform: uppercase;
}

.amountRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
  background: var(--c-gray-300);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.listHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loading {
  background-color: var(--c-yellow-300);
  font-size: larger;
  font-weight: 700;
  padding: 12px;
  border: 1px solid black;
  border-radius: 8px;
  margin-top: 24px;
}

.actionBar {
  display: flex;
  justify-content: space-between;
}
